<div class="container">
  <div>
    <h1>Team Generator</h1>
    <ul class="list">
      <!-- <li>Ron Burgandy</li>
      <li>Sam Rothstein</li>
      <li>Billy Bats</li> -->
        <!-- STRUCTURAL DIRECTIVE FOR LI's --- iterate over members string-- 
          store specific member in this member variable and generate an LI tag-->
        <li *ngFor="let member of members">{{ member }}</li>
    </ul>
    
    <div class="add-members-container">
      <!-- Input EVENT HANDLING (input) AND #addmemberInput syntax -->
      <input #addMemberInput 
      type="text" 
      placeholder="Name" 
      (input)="onInput(addMemberInput.value)" />
      <!-- Attribute Dirctive -->
      [value]="newMemberName"

      <!-- EVENT HANDLING -->
      <button (click)="addMember()">Add</button>
    </div>
    
    <div class="input-container">
      <input 
      #numberOfTeamsInput
      type="number" 
      placeholder="# of teams"  
      (input)="onNumberOfTeamsInput(numberOfTeamsInput.value)"
      [value]="numberOfTeams"
      />
      
      <!-- EVENT HANDLING -->
      <button (click)="generateTeams()">Generate</button>
    </div>
    <!-- Error Message text-- Structutal directive w/*ngIf -->
    <p *ngIf="errorMessage" class="error-msg">{{ errorMessage }}</p>
  </div>
</div>